body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    background-color: #000;
}

.app {
    width: 640px;
    height: 480px;
    overflow: hidden;
    margin: auto;
}

.app__video {
    top: 0px;
    left: 0px;
    position: relative;
    mix-blend-mode: multiply;
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(310deg) saturate(600%) contrast(0.8);
}

@keyframes glitch_1 {
    0% {
        transform: skew(0deg, 10deg);
    }
    50% {
        transform: skew(20deg, 60deg);
    }
    100% {
        transform: skewX(0deg, 0deg);
    }
}
.app__video_glitch_1 {
    animation: glitch_1 .1s;
}

@keyframes glitch_2 {
    0% {
        left: -5px;
    }
    10% {
        left: 5px;
    }
    30% {
        top: 4px;
        left: 0px;
    }
    60% {
        top: -3px;
    }
}

.app__video_glitch_2 {
    animation: glitch_2 .2s;
}
