html {
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
  background-color: #000;
}

.app {
  color: #fff;
  width: 640px;
  height: 480px;
  position: relative;
}

@keyframes load-text-animation {
  0% {
    font-size: 2em;
  }

  20% {
    font-size: 2.2em;
  }

  50% {
    font-size: 2.5em;
  }

  75% {
    font-size: 2.2em;
  }
}

.app__load {
  width: 640px;
  height: 480px;
  font-size: 2em;
  position: absolute;
  background-color: #000;
  color: rgba(255, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: load-text-animation linear 2s infinite;
}

.app__movement-detected {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  visibility: hidden;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.app__movement-detected_visible {
  visibility: visible;
  animation: blink 0.3s infinite;
}

.app__load_closed {
  display: none;
}

.app__audio-analyzer {
  position: absolute;
  top: 370px;
  left: 5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.6);
  border-left-width: 1px;
  border-bottom-width: 1px;
  z-index: 2;
}

.app__video {
  position: relative;
  z-index: 1;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(310deg) saturate(600%) contrast(0.8);
  width: 640px;
  height: 480px;
}

.app_glitch_1 {
  filter: url("#distortion-filter");
}

@keyframes glitch_2 {
  1% {
    left: -5px;
  }

  2% {
    left: 5px;
  }

  3% {
    top: 4px;
    left: 0;
  }

  5% {
    top: -3px;
  }

  6% {
    top: 0;
    left: 0;
  }
}

.app_glitch_2 {
  animation: glitch_2 6s infinite;
}
